<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Dashboard</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1"
            style="background: url('images/bg.png') center/100% 100%">
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div class=" text-center" data-comp-id="text.1"
                        ng-bind="data.dashboard_list.CompanyCode" style="color: rgb(26, 146, 204);">code - company name</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col col-33" data-comp-id="column.2">
                    <div class=" dark" data-comp-id="text.2" style="height:20px"></div>
                    <div class="row" data-comp-id="row.3"
                        style="background-color: rgba(81, 64, 64, 0.57); border-radius: 5px;">
                        <div class="col" data-comp-id="column.3">
                            <div class="text-center" data-comp-id="text.3" style="color: white">TOTAL</div>
                            <div class="text-center" data-comp-id="text.4"
                                ng-bind="data.dashboard_list.ServicesIdCount" style="color: white;">01</div>
                        </div>
                    </div>
                </div>
                <div class="col" data-comp-id="column.4">
                    <div class="text-center light" data-comp-id="text.5">Machine Status</div>
                    <div class="row" data-comp-id="row.4"
                        style="background-color: rgba(81, 64, 64, 0.57); border-radius: 5px;">
                        <div class="col" data-comp-id="column.5">
                            <div class="text-center light" data-comp-id="text.6">ON</div>
                            <div class="text-center light" data-comp-id="text.7"
                                ng-bind="data.dashboard_list.ServicesOnCount">02</div>
                        </div>
                        <div class="col" data-comp-id="column.6">
                            <div class="text-center light" data-comp-id="text.8">OFF</div>
                            <div class="text-center light" data-comp-id="text.9"
                                ng-bind="data.dashboard_list.ServicesOffCount">03</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" data-comp-display="card.1" data-comp-id="div.2"
            ng-click="app.action('listview', 'data.dashboard_list[item].action', this)"
            ng-repeat="item in data.dashboard_list.ServicesPou">
            <div class="row stable-bg" data-comp-id="row.5">
                <div class="col" data-comp-id="column.7">
                    <div data-comp-id="text.10" ng-bind="item.BuildingName" style="font-size: 12px;">Some text</div>
                </div>
                <div class="col" data-comp-id="column.8">
                    <div class=" text-right" data-comp-id="text.11" ng-bind="item.IsStopped">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.6">
                <div class="col" data-comp-id="column.9">
                    <div data-comp-id="text.12" ng-bind="item.ServiceName">Some text</div>
                    <div class="row" data-comp-id="row.7">
                        <div class="col col-33" data-comp-id="column.10">
                            <div class=" stable-bg" data-comp-id="div.3" style="border-radius: 8px;">
                                <div class=" text-center" data-comp-id="text.13"
                                    ng-bind="item.DowntimeEventCount" style="color: rgb(26, 146, 204);">Some text</div>
                                <div data-comp-id="text.14" style="font-size: 11px;">Downtime Events</div>
                            </div>
                        </div>
                        <div class="col" data-comp-id="column.11">
                            <div class=" stable-bg" data-comp-id="div.4" style="border-radius: 8px;">
                                <div class=" text-center" data-comp-id="text.15"
                                    ng-bind="item.ScannedEventCount" style="color: rgb(26, 146, 204);">Some text</div>
                                <div class=" text-center" data-comp-id="text.16" style="font-size: 11px;">Pallet QTY</div>
                            </div>
                        </div>
                        <div class="col" data-comp-id="column.12">
                            <div data-comp-id="div.5">
                                <div data-comp-id="text.18" style="font-size: 13px;">Current Status</div>
                                <div data-comp-id="text.17" ng-bind="item.CurrentDowntimeStatus">Some text</div>
                            </div>
                        </div>
                        <i class="icon ion-ios-arrow-right positive" data-comp-id="icon.1"
                            style="font-size: 20px;"></i>
                    </div>
                    <ion-list data-comp-id="ionic-list.1">
                        <div class="item item-icon-right" data-comp-id="item.1"
                            ng-click="app.action('listview', 'data.dashboard_list[item].action', this)"
                            style="border-top: 1px solid rgba(255, 255, 255, 0);"></div>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>