<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="goBack();"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <i class="icon fa-icon fa-circle" data-comp-id="icon.1"
                    style="color: rgb(13, 207, 118); float: left; margin: 0px 5px 0px 0px;"></i>
                <div data-comp-id="text.1" ng-bind="data.details_list.ServicesIdCode" style="">
                    Some text</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.2" style="padding: 0px;">
            <div class="col" data-comp-id="column.2" style="padding: 0px;">
                <label class="item item-input light-border" data-comp-id="textInput.1">
                    <i class="icon ion-search placeholder-icon">Search</i>
                    <input ng-model="data.searchDeatils" placeholder="Search" type="search">
                </label>
                <div class="row stable-bg" data-comp-id="row.3">
                    <div class="col" data-comp-id="column.3" style="margin: 0px; padding: 0px;">
                        <div class="card" data-comp-display="card.1" data-comp-id="div.1"
                            ng-repeat="item in data.details_list.DowntimeDeatils| filter : customDetailsSearch">
                            <div class="row stable-bg" data-comp-id="row.4" style="padding: 0px;">
                                <div class="col col-33" data-comp-id="column.4">
                                    <div data-comp-id="text.2">ReasonCode :</div>
                                </div>
                                <div class="col" data-comp-id="column.5">
                                    <div data-comp-id="text.3" ng-bind="item.ReasonCode">Sample 11</div>
                                </div>
                                <div class="col text-center col-20" data-comp-id="column.11"
                                    style="padding: 0px;">
                                    <i class="icon fa-icon fa-commenting" data-comp-id="icon.5"
                                        ng-click="commentsDisplay()" style="font-size: 30px; margin: 0px; padding: 0px;"></i>
                                </div>
                            </div>
                            <div class="row" data-comp-id="row.5">
                                <div class="col col-33" data-comp-id="column.6">
                                    <div data-comp-id="text.4">Description :</div>
                                </div>
                                <div class="col" data-comp-id="column.7">
                                    <div data-comp-id="text.5" ng-bind="item.ReasonDescription">Some text</div>
                                </div>
                            </div>
                            <div class="row" data-comp-id="row.6">
                                <div class="col col-33" data-comp-id="column.8">
                                    <div class=" nocolor-bg" data-comp-id="div.2" style="border-radius: 5px;">
                                        <div data-comp-id="text.6">
                                            <i class="icon fa-icon fa-play" data-comp-id="icon.2"
                                                style="color: rgb(34, 181, 114);"></i>Start</div>
                                        <label class="item" data-comp-id="timeInput.1" style="padding:0;">
                                            <input ng-model="item.DtStartTime" time-format="HH:mm" type="time">
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-33" data-comp-id="column.9">
                                    <div data-comp-id="div.3" style="border-radius: 5px;">
                                        <div data-comp-id="text.7">
                                            <i class="icon fa-icon fa-stop assertive" data-comp-id="icon.3"></i>Stop</div>
                                        <label class="item" data-comp-id="timeInput.2" style="padding:0;">
                                            <input ng-model="item.DtEndTime" time-format="HH:mm" type="time">
                                        </label>
                                    </div>
                                </div>
                                <div class="col col-33" data-comp-id="column.10">
                                    <div data-comp-id="div.4" style="border-radius: 5px;">
                                        <div data-comp-id="text.8">
                                            <i class="icon ion-android-time energized" data-comp-id="icon.4"></i>Duration</div>
                                        <label class="item" data-comp-id="timeInput.3" style="padding:0;">
                                            <input ng-model="item.DtDuration" time-format="HH:mm" type="time">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-comp-id="row.7">
                                <div class="col" data-comp-id="column.12">
                                    <div data-comp-id="text.9" ng-bind="item.Comments">Some text</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>