<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div data-comp-id="text.1">Some text</div>
                <label class="item item-input light-border" data-comp-id="textInput.1">
                    <span class="input-label">Search</span>
                    <input type="text">
                </label>
            </div>
        </div>
        <div data-comp-id="div.1" ng-repeat="item in data.details_list.DowntimeDeatils">
            <div class="row" data-comp-id="row.2">
                <div class="col col-33" data-comp-id="column.2">
                    <div data-comp-id="text.2">Reason Code :</div>
                </div>
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.3" ng-bind="item.ReasonCode">Sample 11</div>
                </div>
            </div>
            <div data-comp-id="text.4">Description :</div>
            <div class="row" data-comp-id="row.3">
                <div class="col col-33" data-comp-id="column.4">
                    <div data-comp-id="text.5">Start</div>
                    <label class="item item-input item-time-icon positive-icon"
                        data-comp-id="timeInput.1">
                        <span class="input-label"></span>
                        <input time-format="HH:mm" type="time">
                    </label>
                </div>
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.6">Stop</div>
                </div>
                <div class="col" data-comp-id="column.6">
                    <div data-comp-id="text.7">Duration</div>
                </div>
                <div class="col" data-comp-id="column.7">
                    <i class="icon fa-icon fa-commenting" data-comp-id="icon.1"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>