<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar class=" bar-positive" data-comp-id="header-bar.1"
        ng-class="headerClass">
        <div class="buttons"></div>
        <h1 class="title" data-comp-id="text.1">Login</h1>
        <div class="buttons"></div>
    </ion-header-bar>
    <ion-content data-comp-id="ionic-content.1">
        <ion-checkbox class="" data-comp-id="checkbox.1" ng-model="item.selected"
            ng-repeat="item in __multiselectModalData.options" style="font-size:14px">
            {{item.label || '&nbsp;'}}
        </ion-checkbox>
    </ion-content>
</ion-view>