<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1"></ion-header-bar>
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">Menu</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div class="list" data-comp-id="ionic-list.1">
            <div class="item" data-comp-id="item.1" ng-show="hasCordova || isCanvas"
                style="border-top: 30px;">
                <div data-comp-id="text.1">Site Preference</div>
            </div>
            <div class="item" data-comp-id="item.2" ng-click="app.dashboardCall()">
                <div data-comp-id="text.2">Dashboard</div>
            </div>
            <div class="item" data-comp-id="item.3" ng-click="app.logout()">
                <div data-comp-id="text.3">Logout</div>
            </div>
        </div>
    </ion-content>
</ion-view>