<ion-view data-comp-id="ionic-view.1">
    <ion-header-bar align-title="center" class="bar-dark"
        data-comp-id="header-bar.1"></ion-header-bar>
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Menu</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <ion-list data-comp-id="ionic-list.1">
            <div class="item ng-hide" data-comp-id="item.1"
                ng-click="app.go('app.sitepage')" ng-show="hasCordova || isCanvas">
                <div data-comp-id="text.2">Site Preference</div>
            </div>
            <div class="item" data-comp-id="item.2" ng-click="app.go('app.dashboard')">
                <div data-comp-id="text.3">Dashboard</div>
            </div>
            <div class="item" data-comp-id="item.3" ng-click="">
                <div data-comp-id="text.4">Logout</div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>