<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Set Preference</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1"></ion-content>
    <div data-comp-id="div.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class=" text-center" data-comp-id="text.1" style="font-size: 16px;">Site / Company</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <div class="row search-input" data-comp-id="searchInput.1">
                    <div class="col" style="width">
                        <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input placeholder="Search" type="text">
                        </label>
                    </div>
                    <i class="icon ion-ios-gear-outline" ng-if="false"></i>
                </div>
            </div>
        </div>
    </div>
</ion-view>