<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Set Preference</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1"
            style="background: url('images/bg.png') center/100% 100% no-repeat;height:150px">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1"></div>
                    <div class="text-center light" data-comp-id="text.2"
                        style="margin: 50px 0px 0px;">Site / Company</div>
                    <label class="item item-input" data-comp-id="textInput.1"
                        style="border-radius: 20px; width: 65%; margin: 0px 30px;">
                        <span class="input-label">Search</span>
                        <input type="text">
                    </label>
                </div>
            </div>
        </div>
        <div class="item item-icon-right" data-comp-id="item.1"
            ng-click="app.call('wavesoldering_methods.getCompanyByCode', item)"
            ng-repeat="item in data.sitelist">
            <div data-comp-id="text.3" ng-bind="item.Company">
                Some text
                <span class="item-note"></span>
            </div>
            <i class="icon ion-ios-arrow-right" data-comp-id="icon.1" style="font-size:32px"></i>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer="">
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <button class="button button-block" data-comp-id="button.1">Cancel</button>
            </div>
            <div class="col" data-comp-id="column.3">
                <button class="button button-block" data-comp-id="button.2">Set as Default</button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>